@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Noto+Sans+Thai:wght@100..900&family=Sriracha&display=swap');
@import "tailwindcss";
@theme {
  --font-mitr: "Mitr", sans-serif;
  --font-noto-thai: "Noto Sans Thai", sans-serif;
  --font-sriracha: "Sriracha", cursive;
}

body {
  font-family: "Mitr", sans-serif;
}


